*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Primary Colors */
    --primary-color: #2563EB;
    --primary-dark: #1D4ED8;
    --primary-light: #DBEAFE;

      /* Accent */
    --accent-color: #10B981;

    /* Neutral Colors */
    --dark-color: #0F172A;
    --text-color: #475569;
    --light-text: #94A3B8;

    /* Backgrounds */
    --background-color: #F8FAFC;
    --surface-color: #FFFFFF;

    /* Borders */
    --border-color: #E2E8F0;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;
    --radius-round: 999px;

    /* Typography size*/
    --font-family: 'Poppins', sans-serif;
    --fs-small: .875rem;
    --fs-body: 1rem;
    --fs-h3: 1.5rem;
    --fs-h2: 2.2rem;
    --fs-h1: 3.5rem;

    /*typography weight*/
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* Spacing */
    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --space-xl: 6rem;

    /* Shadows */
    --shadow-sm: 0 2px 8px rgba(0,0,0,.05);
    --shadow-md: 0 10px 25px rgba(0,0,0,.08);
    --shadow-lg: 0 20px 40px rgba(0,0,0,.12);

    /* Transitions */
    --transition: all .3s ease-in-out;

    /*layout*/
    --container-width: 1200px;

}
body{
    font-family: var(--font-family);
    font-size: var(--fs-body);
    color: var(--text-color);
    background-color: var(--background-color);
}

.container{
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: var(--space-md);
}